<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://ec2-46-137-177-160.eu-west-1.compute.amazonaws.com:5432/daf3jodv69gb26</property>
        <property name="hibernate.connection.username">qrgvdtxamaltoc</property>
        <property name="hibernate.connection.password">9257fe85b1c7abe3c0b4b80ddf1dab277fbb18ac69668ad8d5155ca2354e49c0</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
    </session-factory>
</hibernate-configuration>